{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Customers {% endblock %}</h1>
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Phone</th>
        </tr>
        {% for customer in customers %}
                <tr>
                    <td>{{ customer['lname'] }}</td>
                    <td>{{ customer['fname'] }}</td>
                    <td>{{ customer['phone'] }}</td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}
