{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Orders {% endblock %}</h1>
    <div>
        <form method="post">
            <div>
                <label>Filter:</label>
                <select name="filt_attr">
                    <option value="" disabled selected>Select Feature</option>
                    <option value="orderID">Order #</option>
                    <option value="customerID">Customer ID</option>
                    <option value="total">Total</option>
                </select>
                <select name="op">
                    <option value="" disabled selected>Select Operator</option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="<="><=</option>
                </select>
                <input type="text" name="value" placeholder="Value">
            </div>
            <label>Sort:</label>
            <select name="sort_attr" id="sort_attr">
                 <option value="" disabled selected>Select Attribute</option>
                    <option value="orderID">Order #</option>
                    <option value="customerID">Customer ID</option>
                    <option value="total">Total</option>
            </select>
            <select name="asc" id="asc">
                <option value="" disabled selected>ASC|DESC</option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
            <button type="submit" name="sort" value="sort">Submit</button>
            <div>
                <label>Add/Update:</label>
                <input type="text" name="orderID" placeholder="Order ID">
                <input type="text" name="customerID" placeholder="Customer ID">
                <input type="text" name="employeeID" placeholder="employee ID">
                <input type="text" name="total" placeholder="Total Price">
                <button type="submit" name="add" value="add">Submit</button>
            </div>
            <div>
                <label>Delete:</label>
                <input type="text" name="orderID2" placeholder="Order ID">
                <button type="submit" name="del" value="del">Submit</button>
            </div>
        </form>
    </div>
    <table>
        <tr>
          <th>Order #</th>
          <th>Customer ID</th>
          <th>Employee ID</th>
          <th>Total</th>
        </tr>
        {% for order in orders %}
                <tr>
                    <td>{{ order['orderID'] }}</td>
                    <td>{{ order['customerID'] }}</td>
                    <td>{{ order['employeeID'] }}</td>
                    <td>{{ order['total'] }}</td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}