{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Products {% endblock %}</h1>
    <div>
        <form method="post">
            <div>
                <label>Filter:</label>
                <select name="filt_attr">
                    <option value="">Select Feature</option>
                    <option value="productID">ID</option>
                    <option value="p_desc">Product</option>
                    <option value="price">Price</option>
                    <option value="stock">Stock</option>
                </select>
                <select name="op">
                    <option value="">Select Operator</option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="<="><=</option>
                </select>
                <input type="text" name="value" placeholder="Value">
            </div>
            <label>Sort:</label>
            <select name="sort_attr" id="sort_attr">
                    <option value="">Select Attribute</option>
                    <option value="productID">ID</option>
                    <option value="p_desc">Product</option>
                    <option value="price">Price</option>
                    <option value="stock">Stock</option>
            </select>
            <select name="asc" id="asc">
                <option value="">ASC|DESC</option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
            <button type="submit" name="sort" value="sort">Submit</button>
            <div>
                <label>Add/Update:</label>
                <input type="number" name="productID" placeholder="Product ID" min="1">
                <input type="text" name="product" placeholder="Product Desc.">
                <input type="text" name="price" placeholder="Price" min="0">
                <input type="number" name="quantity" placeholder="Quantity" min="0">
                <button type="submit" name="add" value="add">Submit</button>
            </div>
            <div>
                <label>Delete:</label>
                <input type="number" name="productID2" placeholder="Product ID" min="1">
                <button type="submit" name="del" value="del">Submit</button>
            </div>
        </form>
    </div>
    <table>
        <tr>
          <th>ID</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        {% for product in products %}
                <tr>
                    <td>{{ product['productID'] }}</td>
                    <td>{{ product['p_desc'] }}</td>
                    <td>{{ product['price'] }}</td>
                    <td>{{ product['stock'] }}</td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}