{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Purchase {% endblock %}</h1>
    <div>
        <form method="post">
            <div>
                <label>Filter:</label>
                <select name="filt_attr">
                    <option value=""></option>
                    <option value="orderID">Order #</option>
                    <option value="productID">Product ID</option>
                    <option value="quantity">Quantity</option>
                </select>
                <select name="op">
                    <option value=""></option>
                    <option value="=">=</option>
                    <option value="<"><</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="<="><=</option>
                </select>
                <input type="text" name="value">
            </div>
            <label>Sort:</label>
            <select name="sort_attr" id="sort_attr">
                    <option value=""></option>
                    <option value="orderID">Order #</option>
                    <option value="productID">Product ID</option>
                    <option value="quantity">Quantity</option>
            </select>
            <select name="asc" id="asc">
                <option value=""></option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
            <button type="submit" name="sort" value="sort">Submit</button>
            <div>
                <label>Add/Update:</label>
                <input type="text" name="orderID">
                <input type="text" name="productID">
                <input type="text" name="quantity">
                <button type="submit" name="add" value="add">Submit</button>
            </div>
            <div>
                <label>Delete:</label>
                <input type="text" name="orderID2">
                <input type="text" name="productID2">
                <button type="submit" name="del" value="del">Submit</button>
            </div>
        </form>
    </div>
    <table>
        <tr>
            <th>Order #</th>
            <th>Product ID</th>
            <th>Quantity</th>
        </tr>
        {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase['orderID'] }}</td>
                    <td>{{ purchase['productID'] }}</td>
                    <td>{{ purchase['quantity'] }}</td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}